<mat-card class="card">
    <mat-card-header>
      
      <mat-card-title>Biblioteca Online</mat-card-title>
      <mat-card-subtitle>Biblioteca</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/Logo.png" alt="Imagem logo">
    <mat-card-content>
      <p>
        Bem-vindo ao nosso sistema de bibliotecas! 📚 Aqui, você encontrará uma vasta coleção de recursos e conhecimentos para expandir seus horizontes. <br> 
        Nossas bibliotecas abrangem diversos tópicos, desde ciência e tecnologia até arte e literatura. Permita-me guiá-lo por esse mundo de aprendizado e descobertas <br>

        Sinta-se à vontade para explorar nossas estantes virtuais e mergulhar no conhecimento. Se precisar de ajuda, estou aqui para responder às suas perguntas!
      </p>
    </mat-card-content>
    
  </mat-card>